---
import ValentinesCards from '../components/ValentinesCards.jsx';
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>14 de Febrero</title>
    <!-- Enlace a Google Fonts para usar Open Sans -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" />
    <style>
      body {
        margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #F2BDD0; /* Fondo de la página */
    color: #D9320D;
      }
    </style>
  </head>
  <body>
    <main>
      <h1 style="text-align:center; margin-top: 20px;">¡Feliz 14 de Febrero!</h1>
      <ValentinesCards />
      <!-- Agregamos un texto fijo debajo de las cartas -->
      <div style="margin: 20px; text-align: center;">
        <p style="max-width: 600px; margin: 0 auto; font-size: 1.1rem; line-height: 1.4;">
			La vida junto a ti es lo más hermoso que pueda existir, 
			gracias por hacer tan maravillosa la vida, gracias por 
			el amor tan inmenso que me das día a día. No hay palabras 
			suficiente para expresarte cuanto te amo pero afortunadamente 
			como tu futuro esposo tendré la oportunidad de demostrarte ese amor día con día.
        </p>
      </div>
    </main>
  </body>
</html>